body{
    background-color: #edf2fb;
}

header{
    height: 120px;
    background-color: #d7e3fc;
    border-radius: 10px;
}

.container{
    width: 100%;
    height: 25px;
    display: grid;

    grid-template-columns: 200px 700px 200px 50px;
    grid-template-rows: 120px 120px 120px 120px;
}
.logo img{
    height: 100px;
    width: auto;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}
/* .buttons  */
.buttons ul li{
    display: inline-block;
    padding-right: 40px;
    margin-top: 35px;
    color: #778da9;
    font-family: 'Raleway', sans-serif;
}
.buttons ul li:hover{
    color: black;
}

/* .search{} */
.search input{
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
    border: 1px solid #d7e3fc;
    margin-top: 45px;
}

/* .signup{} */
.signup img{
    height: 40px;
    width: auto;
    margin-top: 37px;
}
/* ********************************* */

.bodyContain{
    width: 100%;
    height: 350px;
    display: grid;

    grid-template-columns: auto 800px auto;
}
/* .b1{
    background-color: lightpink;
} */

/* .fit{
    background-color: lightgreen;
} */
.fit img{
    height: 300px;
    margin-top: 25px;
}
.fit pre{
    margin-left: 350px;
    margin-top: -300px;
    font-family: 'Raleway', sans-serif;
}

/* .b2{
    background-color: lightpink;
} */


/* ********************************************* */

.feature{
    width: 100%;
    height: 450px;
    display: grid;

    grid-template-columns: 200px 400px 600px auto;
}

/* .b3{
    background-color: lightgreen;
} */
/* .txt{
    background-color: lightpink;
} */
.txt h2{
    margin-top: 150px;
    font-family: 'Raleway', sans-serif;
}
.txt h5{
    font-family: 'Raleway', sans-serif;
}

/* .img{
    background-color: lightseagreen;
} */
.img img{
    width: 550px;
    height: auto;
    margin-left: 25px;
}

/* .b4{
    background-color: lightsteelblue;
} */

/* ************************************** */

.tx{
    margin-top: 100px;
}
.tx h1{
    font-family: 'Raleway', sans-serif;
}
hr{
    width: 400px;
    height: 3px;
    background: black;
}

/* ******************************************* */

.prod{
    width: 100%;
    height: 250px;
    display: grid;
    margin-top: 80px;

    grid-template-columns: auto auto auto auto;
}

/* .p1{
    background-color: lightpink;
} */
.p1 img{
    height: 250px;
    margin-left: 25%;
}

/* .p2{
    background-color: lightsalmon;
} */
.p2 img{
    height: 250px;
    margin-left: 25%;
}

/* .p3{
    background-color: lightskyblue;
} */
.p3 img{
    height: 250px;
    margin-left: 25%;
}

/* .p4{
    background-color: lightgreen;
} */
.p4 img{
    height: 250px;
    margin-left: 25%;
}

/* ************************************************** */

footer{
    width: 100%;
    height: 120px;
    background-color: #003049;
    margin-top: 50px;
    border-radius: 10px;
}
.foot{
    width: 100%;
    height: 120px;
    display: grid;

    grid-template-columns: 200px  auto;
}

/* .iconlog{
    background-color: lightpink;
} */
.iconlog img{
    height: 100px;
    width: auto;
    border-radius: 50%;
    margin: 10px;
}

/* .copyr{
    background-color: lightgreen;
} */
.copyr h4{
    color: #ced4da;
    margin-left: 50px;
    margin-top: 55px;
}